{% extends 'base.html'  %}

{% block title %}
    Scrumtious Recipes
{% endblock title %}

{% block content %}
<!DOCTYPE html>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
            <a href="{% url 'edit_recipe' recipe_object.id %}">Edit recipe</a>
        </nav>
    </header>
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <img src="{{ recipe_object.picture }}">
        <div>4.3 stars</div>
        <p>{{ recipe_object.description }}</p>
        <h2>Ingredients</h2>
        <table>
            <thead>
                <th>Amount </th>
                <th>Food item</th>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                <tr>
                    <td>{{ ingredient.amount }}
                    <td>{{ ingredient.food_item }}
                </tr>
                {% endfor %}
                {% comment %} <tr>
                    <td>1 cup</td>
                    <td>Green beans</td>
                </tr>
                <tr>
                    <td>3 ears</td>
                    <td>Fresh corn</td>
                </tr>
                <tr>
                    <td>2 cups</td>
                    <td>Tomatillio salsa</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Corn tortillas</td>
                </tr>
                <tr>
                    <td>0.5 cups</td>
                    <td>Cotija cheese</td>
                </tr> {% endcomment %}
            </tbody>
        </table>
        <div>
        <h2>Steps</h2>
            <ol>
                {% for step in recipe_object.steps.all %}
                    <li>{{ step.instructions }}</li>
                {% endfor %}
                {% comment %} <li>Blanch the green beans</li>
                <li>Grill the green beans and the ears of corn</li>
                <li>Chop the green beans</li>
                <li>Slice the corn off the cob</li>
                <li>Grill the tortillas</li>
                <li>Assemble the tacos with veggies, salsa, and cheese</li> {% endcomment %}
            </ol>
        </div>
        {% comment %} <footer>Made with love by Scrumptious Recipes</footer> {% endcomment %}
    </main>
{% endblock content %}
