* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: bisque; */
}

header {
    border: 2px solid rgba(0, 0, 0, 0.329);
}

header, nav, nav>a {
    background-color: orangered;
    padding: 0 0 0 0px;
    color: white;
}

h1 {
    font-weight: bold;
    padding: 10px 0 10px 0px;
    color: green;
}

h2 {
    font-weight: bold;
    padding: 10px 0px 15px 0px;
}

div > h2 {
    padding: 30px 0px 0px 0px;
}

body {
    margin: 0;
    padding: 0;
    background-color: bisque;
}

main :not(footer) {
    text-indent: 20px;
}

footer {
    background-color: #b4cf66;
    padding: 24px 0 24px 24px;
    font-weight: 900;
}

img {
    height: 200px;
    padding: 0 0 0 20px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-style: solid ;
    border-color: black;
}

table {
    /* border-collapse: separate; */
    text-indent: 0px;
    border-spacing: 2px;
}

table > tbody > tr:nth-child(even) {background: lightgrey;}

nav {
    border-bottom: 1px black;
    /* border-color: black; */
    padding: 16px 16px 16px 20px;
}

ol {
    list-style-type:armenian;
    padding: 20px 38px;
    border: 20px;
    line-height: 1;
}

.recipe-grid {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 240px 240px;
    grid-row: inherit;
    gap: 1rem;
}

.recipe-card {
    /* border: 1px solid #000000; */
    /* padding: 1rem; */
    border-radius: 4px;
    /* text-align: center; */
}

.recipe-card img {
    max-width: 100%;
    height: auto;
    max-height: 175px;
    object-fit: cover;
}

a > div {
    padding: 5px;
}

div > a {
    color: green;
    padding: 0 px;
}

a:link { text-decoration: none;}
a:visited { text-decoration: none;}
a:hover { text-decoration: none;}
a:active { text-decoration: none;}
